

#CREATE A CAR CLASS
class Car {
#Define attributes
	public String brand;
	public String model;
	public int amountOfFuel;
	public void brake()
	{
		System.out.println("Car is breaking");
	}
	public void accelerate()
	{
		if(amountOfFuel>0)
		{
			System.out.println("Car is accelerating");
		}
		amountOfFuel--;
	}
	public void printData()
	{
    #pRINT THE DATA
		System.out.println("Brand: "+brand); 
	#myfirstcommit
	
		System.out.println("Model: "+model);
		System.out.println("Fuel: "+amountOfFuel);
	}

}
#abcd
